
<app-header></app-header>
<app-droplist></app-droplist>
<router-outlet></router-outlet>
<!--<app-droplist></app-droplist>


<app-cards></app-cards>
  <app-dropdown1></app-dropdown1>

 <app-inputs></app-inputs>
<nav>
  <ul>
    <li><a routerLink="/input" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/drop" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav>



* * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->